# Excludes the following files from synching to GitHub:

#.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

.Rproj.user

# these files downloaded from WQP are too large to sync
other/input/WQX_downloads 

/other/epa_cdx.txt
